<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hai Welcome to EJS Class</h1>
    <h2> Hai This is <%=name %>, age is <%= age  %> and my phone Number is <%=phone %></h2>
</body>
</html>